html {
  background-color: #F2F2F7;
  font-family: 'Questrial', sans-serif;
}

header {
  color: #fff;
  background-color: #023157;
}

footer {
  color: #fff;
  background-color: #023157;
}

a {
  color: #fff;
}

.btn {
  background-color: #074B81;
  border-color: #074B81;
}

.btn:hover {
  background-color: #F2F2F7;
  border-color: #074B81;
  color: #074B81;
}

#current {
  background-color: #004978;
}

.dark {
  background-color: #DFE1E8;
}
