html {
  background-color: #f2f2f7;
  font-family: Questrial, sans-serif;
}

header {
  color: #fff;
  background-color: #023157;
}

footer {
  color: #fff;
  background-color: #023157;
}

a {
  color: #fff;
}

.btn {
  background-color: #074b81;
  border-color: #074b81;
}

.btn:hover {
  background-color: #f2f2f7;
  border-color: #074b81;
  color: #074b81;
}

#current {
  background-color: #004978;
}

.dark {
  background-color: #dfe1e8;
}
